
.item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(179, 179, 179, 0.472);
  height: 500px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 2px;
  position: center;

}

.Image {
  display: grid;
  justify-content: right;
  border-radius: 2px;
  padding: 10px;
  height: 360px;
  background-position: center;
  background-repeat: no-repeat;

}

.Image img{
  width: 230px;
}

.buttonDetailes {
  text-decoration: none;
  color: black;
  font-size: 25px;
}

.Description { 
  font-size: 30px;
}
