.wrapper{
  display: grid;
  grid-template-columns: 1fr 10fr;
  background-color: #39383657;
  background-image: url(../../../images/uroboros.png);
  background-repeat: no-repeat;
  background-position: center;
}


.item {
  background-color: grey;
  height: 500px;
  margin-top: 10px;
  margin-right: 10px;
}

