.LoginWrapper {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    background-color: #39383657;
    background-image: url(../../../images/uroboros.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 1218px;
}

.LoginForm {
    background: linear-gradient(360deg, #311a33, #202022);
    height: 800px;
    margin-top: 50px;
    border-radius: 4px;
    padding-top: 30px;
}

.logo{
    font-size: 30px;
    color: white;
    font-weight: bold;

}

h1{
    color:white;
}


.checkBoxText{
    color:white;
    font-size: medium;
}

.formField{
    font-size: 20px;
    margin: 25px;
    height: 50px;
    min-width: 200px;
    width: 400px;
    background-color:white;
    border: 0px;
    border-radius: 2px;
    padding-left: 10px;
}

.loginButton{
    font-size: 20px;
    justify-content: center;
    width: 120px;
    height: 50px;
    background-color: green;
    border-radius: 4px;
    padding: 10px; 
}

.registrationButton{
    justify-self: center;
    font-size: 20px;
    justify-content: center;
    width: 100px;
    height: 30px;
    background-color: green;
    border-radius: 4px;
    padding: 10px;
}

.buttonsWrapper{
    margin-top: 55px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Loader{
    display: grid;
    justify-content: end;
    align-items: end;
}
.logicWrapper{
    margin-top: 100px;
    height: 550px;
    width: max-content;
}
.formError{
    border-radius:4px ;
    height: 50px;
    width: 415px;
    margin-left: 25px;
    position: absolute;
    color:white;
    background-color: red;
    animation: slide 0.5s linear;
    font-size: 20px;
    opacity: 50%;
    padding-top: 15px;
}


@keyframes slide {
    from {
        margin-top: 100px;
    }
    to {
        margin-top: 0px;
    }
}