.wrapper {
    display: grid;
    grid-template-columns: 3fr 7fr;
    height: 1110px;
    background-color: #39383657;
    background-image: url(../../../images/uroboros.png);
    background-repeat: no-repeat;
    background-position: center;
}

span {
    font-size: 25px;
}
.selectedPage {
    cursor: pointer;
    font-weight: bold;
    font-size: 30px;
}
.page {
    cursor: pointer;
    color:green;
}

.friendWrapper {
    display: grid;
    /* grid-template-columns: repeat(10, 1fr); */
}

.loader {
    background-image: url(../../../images/uroboros.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: grid;
    justify-items: end;
    height: 200px;
    width: 200px;
    animation: spin 3s linear 0s infinite;
    border-radius: 50%;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.FetchingWrapper {
    display: grid;
    grid-row:1/1;
    grid-column:2/5;
    align-items: end;
    justify-items: right;
    padding-bottom: 50px;
    padding-right: 50px;
}

.friendProfile {
    height: 1110px;
    grid-row:1/1;
    grid-column:2/5;
}

.paginator {
    grid-row:3/3;
}
.image { 
    border-radius: 20px;
}