
.item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 7fr 1fr;
  margin: 10px;
  height: 400px;
}

.item:hover{
  border-radius: 10px;
  zoom: 1.2;
  padding: 10px;
}
.description {
  display:grid;
}

.image {
  width: 200px;
}
