.wrapper{
  display: grid;
  grid-template-columns: 3fr 7fr;
}

.userComment {
  
  height: 150px;
  border-radius: 5px;
  text-decoration: none;
  margin: 10px;
  margin-top: 150px;
  margin-left: 80px;
}

.buttonWrapper {
  margin: 10px;
  margin-top: 150px;
}

.acceptButton {
  background-color: green;
  border-radius: 10px;
  height: 30px;
  margin-bottom: 10px;
}


.acceptButton:hover {
  cursor: pointer;
  border-bottom: 2px solid rgba(35, 75, 35, 0.842);
  border-right: 2px solid rgba(35, 75, 35, 0.842) ;
}

.copyButton {
  background-color: grey;
  border-radius: 10px;
  height: 30px;
}

.userCommentWrapper {
  display: grid;
  grid-template-columns: 8fr 2fr;
}

.ShopCommentsWrapper {
  margin-left: 100px;
  margin-top: 150px;
}