
.commentsWrapper {
  padding: 10px;
  background-color:white;
  justify-content: left;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.452);
  margin-bottom: 3px;
  margin-right: 10px;
}

.userName {
  display: grid;
  justify-content: left;
  font-weight: bold;
}

.commentDate {
  display: grid;
  justify-content: left;
  font-size: 15px;
}

.recomendations {
  font-size: 20px;
}

.reviewText {
  display:grid;
  justify-content: left;
}

.reviewText span {
  justify-self: left;
}

.likesCount{
  display: grid;
  justify-content: left;
  font-size: 15px;
  width: 100px;
}

.likeWrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 9fr;
}

.likeButton {
  display: grid;
  justify-content: bottom;
  width: 50px;
  height: 40px;
  background-color: rgb(6, 255, 6);
  border-radius: 10px;
  font-size: 15px;
}
.likeButton span {
  align-self: center;
}

.headerWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}