

.loader{
    background-image: url(../../../../images/uroboros.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    justify-items: center;
    height: 200px;
    width: 200px;
    animation: spin 3s linear 0s infinite;
    border-radius: 50%;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.FetchingWrapperCenter{
    display: grid;
    align-items: center;
    justify-items: center;
    padding-bottom: 50px;
    padding-right: 50px;
}

.FetchingWrapperRight {
    display: grid;
    grid-row:1/1;
    grid-column:2/5;
    align-items: end;
    justify-items: right;
    padding-bottom: 50px;
    padding-right: 50px;
}
