.FormInput .hasError textarea{
    border: 2px solid rgba(255, 0, 0, 0.527);
}

.hasError input{
    border: 3px solid rgba(255, 0, 0, 0.712);
}

.formInput {
    margin: 1051px;
}

.errorMessage {
    display: block;
    color:red;
    margin-bottom: 10px;
}