.wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.booksName {
    font-size: 80px;
    padding-top: 10px;
}

.image {
    display: grid;
    justify-content: center;
    padding-top:10px ;
}

.image img {
    width: 400px;
}
