.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.app-wrapper {
  display: grid;
  grid-template-columns: 1fr 10fr;
  background-color: gray;
  
}

.bdrs_5 {
  border-radius: 5px;
}

.mt_10 {
  margin-top: 10px;
}

.ml_10 {
  margin-left: 10px;
}

.dib {
  display: inline-block;
  
}

.dg {
  display:grid;
  
}

.gtc {
  grid-template-columns: 3fr 1fr;
}

.bgc_grn{
  background-color: green;

}

.p_10 {
  padding: 10px;
}

.as {
  align-self: start;
}

.cur {
  cursor: pointer;
}

.w_70 {
  width: 70px;
}

.bgc_gr{
  background-color: grey;

}
